body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 700px;
    height: 700px;
}
.container h1{
    text-align: center;
    color: rgb(11, 46, 34);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.colorChoosed{
    background: #000;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
}
input{
    margin-left:300px;
    width: 100px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: none;
    
}